.listForm {
    border-bottom-width: 2px;
    border-bottom-color: black;
    border-bottom-style: solid;
    margin-bottom: 10px;
}
.row{
    margin-bottom: 2px;
}
.hrefLink{
    font-size: 14px;
}
.contentContainter{
    margin-bottom: 5%; 
}