.listForm {
    border-bottom-width: 2px;
    border-bottom-color: black;
    border-bottom-style: solid;
    margin-bottom: 10px;
}
.row{
    margin-bottom: 2px;
}
.sideLink{
    font-size: 14px;
}
.sideLinks {
    font-size: 14px;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
}
.contentContainter{
    margin-bottom: 10%; 
}