
.movie-banners{
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 5%;
}

.movie-banners-header{

}

.movie-banners-header-item{
    color:red;
    display: inline-block
}

.right{

}

.movie-banners-items {
    display:flex;
    justify-content: space-between;
}

.movie-banners-item {
    width: 16%;
    display: inline-block;
}

.movie-banners-item-picture{
    width:100%;
}

.movie-extra {
    border-top: 2px dotted black;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.movie-extra-halfitem{
    width: 48%;
}

.movie-extra-halfitem-header{

}

.movie-extra-halfitem-header-item {
    color: black;
    display: inline-block
}

.movie-extra-item{
    margin-bottom: 2.5%;
}

.movie-extra-item-section{
    display: flex;
}

.movie-extra-item-p {
    margin: 0px;
}

.movie-extra-item-picture{
    width:25%;
}

.movie-extra-item-section-picture {
    width: 17.5%;
    padding-right: 1%;
}

.movie-extra-item-section-p {
    margin: 0px;
}