body {

}

.movie-bar{
    height: 20%;
    width: 100%;
}

.movie-bar-row{
    display:flex;
    justify-content: space-between;
}

.movie-bar-row-item {
    display: flex;
}


.c-red {
    color: red;
}

.movie-media-bar{
    display: flex;
}

.movie-media-bar-banner{
    width: 25%;
    margin-right:0.5%;
}

.movie-media-bar-trailer{
    width: 74.5%;
}

.movie-description{
    width: 100%;
}

.movie-comments{
    width: 100%;
    margin-bottom: 10%;
}

.movie-comments-text {
    width: 100%;
    height: auto;
    min-height: 100px;
}

.movie-comments-input {
    margin-bottom: 5%;
}

.movie-comments-submit {
    border: solid 1px black !important;
    width: 10%;
}

.movie-comments-section{

}

.movie-comments-section-comment {

}

.movie-comments-section-comment-user-date {
    display: flex;
}