
.container {
    margin-top: 180px !important;
    min-height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
#container {
    min-height: 100%;
    position: relative;
}


.layout-header{
    background: #333333 !important;
    width: 100%;
    position: fixed;
    color: white;
    top: 0px;
    padding: 1% 0.5% 0% 0.5%;
    z-index: 999 !important;
}


.layout-header-section {
    border-bottom: 2px dotted #545454;
    border-top: 2px dotted #545454;
    margin: 0.5% 0% 0% 0%;
}

.layout-header-section-half {
    width: 49%;
    height: 3vh;
    display: inline-block;
    padding: 0.2vh 0% 0.2vh 0%;
}

.layout-header-section-whole {
    width: 100%;
    display: inline-block;
    padding: 0.2vh 0% 0.2vh 0%;
}

.right {
    float: right;
    display: flex;
    justify-content: flex-end;
}

.layout-header-section-half-item {
    margin-right: 1%;
}

button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.headerInput {
    height: 21px;
    color: black;
}

.layout-footer {
    height: auto;
    background: #333333;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0.5%;
    color: #545454;
    font-size: 10px;
}
.layout-footer-item{
    text-decoration: underline;
}

.ul{
    text-decoration: underline;
    color: red;
}

.mg{
    margin-left: 5px;
    margin-right: 5px;
}