@model FlickClick.Models.DirectorModel

@{
    ViewData["Title"] = "Admin Panel: Directors Add";
    ViewData["Stylesheet"] = "/css/cms.css";
    Layout = "~/Views/Shared/_CmsLayout.cshtml";
}

<h1>Add</h1>

<h4>Director</h4>
<hr />
<div class="contentContainter">
    <div class="row">
        <div class="col-md-4">
            @Html.AntiForgeryToken()
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="firstName" class="control-label"></label>
                    <input asp-for="firstName" type="text" class="form-control" maxlength="32" required />
                    <span asp-validation-for="firstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="lastName" class="control-label"></label>
                    <input asp-for="lastName" type="text" class="form-control" maxlength="32" required />
                    <span asp-validation-for="lastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="dateOfBirth" class="control-label"></label>
                    <input asp-for="dateOfBirth" type="date" class="form-control" required />
                    <span asp-validation-for="dateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to list</a>
    </div>
</div>


