@{
    ViewData["Title"] = "Admin Panel";
    ViewData["Stylesheet"] = "/css/cms.css";
}

    <div>
        <div>
            <h2>
                Film
            </h2>
            <div class="sideLinks">
                <a asp-action="Details">Film liste</a>
                <a asp-action="Create">Tilføj film</a>
                <a asp-controller="Cms" asp-action="Index">Tilbage til admin forside</a>
            </div>
            
        </div>
    </div> 
