@model NewsModel

@{
    ViewData["Stylesheet"] = "/css/news.css";
}

<h3>News</h3>
<div class="news-articles">
    <div class="news-article">
        <h6>@Model.title</h6>
        <small class="news-article-date">@Model.postDate</small>
        <p>
            @Model.text
            <br />
            <a href='javascript:history.go(-1)' class="news-article-link">Go back</a>
        </p>

    </div>
</div>