@{
    ViewData["Stylesheet"] = "/css/movie.css";
}

<div class="movie-top-bar">
    <div class="movie-top-bar-row">
        <h1 class="w-auto">TestTitle</h1><p class="w-auto">Comments: 23</p>
    </div>
    <div class="movie-top-bar-row">
        <div class="movie-top-bar-row-item">
            <p class="w-auto">Age Rating:&nbsp;<p class="c-red m-left-1"> 15+</p>
        </div>
        <div class="movie-top-bar-row-item">
            <p class="w-auto">Duration:&nbsp;<p class="c-red m-left-1"> 15+</p>
        </div>
        <div class="movie-top-bar-row-item">
            <p class="w-auto">Genres:&nbsp;<p class="c-red m-left-1"> 15+</p>
        </div>
        <div class="movie-top-bar-row-item">
            <p class="w-auto">Release Date:&nbsp;<p class="c-red m-left-1"> 15+</p>
        </div>
    </div>
</div>

<div class="movie-media-bar">
    <img class="movie-media-bar-banner" src="~/assets/movie-banners/starwarstest.jpeg" />
    <iframe class="movie-media-bar-trailer" src="https://www.youtube.com/embed/8Qn_spdM5Zg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>