@{
    ViewData["Title"] = "Home Page";
    ViewData["Stylesheet"] = "/css/index.css";
}
    <div class="movie-banners">
        <div class="movie-banners-header">
            <h2>LATESTS TRAILERS</h2>
            <h2>Show all</h2>
        </div>



        <div class="movie-banners-item">
            <img src="~/assets/movie-banners/starwarstest.jpeg"/>
        </div>
    </div>
