@{
    ViewData["Title"] = "Admin Panel";
    ViewData["Stylesheet"] = "/css/cms.css";
}
<div class="movie-banners">
    <div class="movie-banners-header">
        <h2>Admin panel</h2>
        <h2>Show all</h2>
    </div>



    <div class="movie-banners-item">
        <img src="~/assets/movie-banners/starwarstest.jpeg" />
    </div>
</div>