
@{
    ViewData["Title"] = "Admin Panel";
    ViewData["Stylesheet"] = "/css/cms.css";
}

<h1>Admin forside</h1>

<div>
    <div class="sideLinks">
        <a href="movies/index">Film</a>
        <a href="directors/index">Instruktører</a>
        <a asp-controller="Genres" asp-action="Index">Genre</a>
    </div>
</div>