
@{
    ViewData["Title"] = "Admin Panel";
    ViewData["Stylesheet"] = "/css/cms.css";
}

<h1>Admin forside</h1>

<div>
    <div class="sideLinks">
        <a asp-controller="Movies" asp-action="Index">Film</a>
        <a asp-controller="Directors" asp-action="Index">Instruktører</a>
        <a asp-controller="Genres" asp-action="Index">Genre</a>
        <a asp-controller="Stars" asp-action="Index">Stjerner</a>
        <a asp-controller="Writers" asp-action="Index">Skribenter</a>
        <a asp-controller="MovieRelations" asp-action="Index">Film relationer</a>
    </div>
</div>