@{
    ViewData["Title"] = "Admin Panel";
    ViewData["Stylesheet"] = "/css/cms.css";
}

    <div>
        <div>
            <h2>Redigér film: <a href="CmsMovies/Index.cshtml"></a>
            </h2>
            </div>
    </div> 
