@{
    ViewData["Title"] = "Admin Panel";
    ViewData["Stylesheet"] = "/css/cms.css";
    Layout = "~/Views/Shared/_CmsLayout.cshtml";
    Url.Action("Index", "Home");
}

<h1>Admin Panel</h1>

<div>
    <div class="sideLinks">
        <a asp-controller="Movies" asp-action="Index">Movies</a>
        <a asp-controller="Directors" asp-action="Index">Directors</a>
        <a asp-controller="Genres" asp-action="Index">Genres</a>
        <a asp-controller="Stars" asp-action="Index">Stars</a>
        <a asp-controller="Writers" asp-action="Index">Writers</a>
        <a asp-controller="MovieRelations" asp-action="Index">Movie Relations</a>
        <a asp-controller="News" asp-action="Index">News</a>
        <a asp-controller="Contact" asp-action="Details">Received Messages</a>
    </div>
</div>