@{
    ViewData["Title"] = "Admin Panel";
    ViewData["Stylesheet"] = "/css/cms.css";
}

    <div>
        <div>
            <h2><a href="cms/Details">Redigér film</a>
            </h2>
            </div>
    </div> 
